@using Flower_shop.Models
@using Flower_shop.Services
@model IndexPageViewModel
@inject UserService userService
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/index_get-started.css?v=1" />
<link rel="stylesheet" href="~/css/index_present.css?v=1" />
<link rel="stylesheet" href="~/css/index_ballon.css?v=1" />
<link rel="stylesheet" href="~/css/index_delivery.css?v=1" />
<link rel="stylesheet" href="~/css/index_block-text.css?v=1" />
<link rel="stylesheet" href="~/css/index_products.css?v=1" />


<section class="get-started">
    <div class="get-started__container">
        <div class="get-started__contant">
            <div class="get-started__block-text block-text">
                <h1 class="block-text__title block-text__title_blue">
                    @Model.Images.SingleOrDefault(x => x.Block == 1).Name
                </h1>
                <div class="block-text__text">
                    Порадуйте своих близких
                </div>
                <a href="/Gallery/Products" class="block-text__button button">Перейти</a>
            </div>
        </div>
        <div class="get-started__image">
            <img class="flower_pc flower_mobile" src="@Model.Images.SingleOrDefault(x => x.Block == 1).ImagePath">
        </div>
    </div>
    @if (userService.IsAdmin())
    {
        <a href="/AdminPlatform/ImageEdition?block=1" class="block-text__button button button_blue">ИЗМЕНИТЬ</a>
    }
</section>
<section class="present">
    <div class="present__container">
        <div class="present__image">
            <img class="present_pc present_mobile" src="@Model.Images.SingleOrDefault(x => x.Block == 2).ImagePath">
        </div>
        <div class="present__contant">
            <div class="present__block-text block-text">
                <h2 class="block-text__title">
                    @Model.Images.SingleOrDefault(x => x.Block == 2).Name
                </h2>
                <div class="block-text__text">
                    Порадуйте своих близких
                </div>
                <a href="/Gallery/Products" class="block-text__button button">Перейти</a>
            </div>
        </div>
    </div>
    @if (userService.IsAdmin())
    {
        <a href="/AdminPlatform/ImageEdition?block=2" class="block-text__button button button_blue">ИЗМЕНИТЬ</a>

    }
</section>
<section class="product">
    <div class="product__container">
        @foreach (ProductViewModel product in Model.Products)
        {
            <div class="product__contant" onclick="location.href='@Url.Action("SingleProduct", "Gallery", product)'">
                <div class="product__image">
                    <img src="@product.ImagePath" alt="Продукт" />
                </div>
                <div class="product__block-text">
                    <div class="text-product">
                        @product.Name
                    </div>
                    <div class="price-product">
                        @product.Price
                    </div>
                </div>
            </div>
        }
    </div>
</section>
<section class="balloon">
    <div class="balloon__container">
        <div class="balloon__contant">
            <div class="balloon__block-text block-text">
                <h2 class="block-text__title block-text__title_blue">
                    @Model.Images.SingleOrDefault(x => x.Block == 3).Name
                </h2>
                <div class="block-text__text">
                    Порадуйте своих близких
                </div>
                <a href="/Gallery/Products" class="block-text__button button">Перейти</a>
            </div>
        </div>
        <div class="balloon__image">
            <img class="balloon_pc balloon_mobile" src="@Model.Images.SingleOrDefault(x => x.Block == 3).ImagePath">
        </div>
    </div>
    @if (userService.IsAdmin())
    {
        <a href="/AdminPlatform/ImageEdition?block=3" class="block-text__button button button_blue">ИЗМЕНИТЬ</a>
    }
</section>
<section class="delivery">
    <div class="delivery__container">
        <div class="delivery__image">
            <img class="delivery_pc delivery_mobile" src="@Model.Images.SingleOrDefault(x => x.Block == 4).ImagePath">
        </div>
        <div class="delivery__contant">
            <div class="delivery__block-text block-text">
                <h2 class="block-text__title">
                    @Model.Images.SingleOrDefault(x => x.Block == 4).Name
                </h2>
                <div class="block-text__text">
                    +375291089024 <br />
                    Режим работы:<br />
                    Пн-Сб - 09:00-18:00<br />
                    Вс - 09:00-15:00<br />
                </div>
                <a href="/Gallery/Products" class="block-text__button button">Посмотреть</a>
            </div>
        </div>
    </div>
    @if (userService.IsAdmin())
    {
            <a href="/AdminPlatform/ImageEdition?block=4" class="block-text__button button button_blue">ИЗМЕНИТЬ</a>
    }
</section>


<script src="~/js/yandexMap.js" type="text/javascript"></script>
