@using Flower_shop.EfStuff.DbModels
@model ImageViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/forms.css?v=1" />
<link rel="stylesheet" href="~/css/admin_edition.css?v=1" />

<section class="edition">
    <div class="edition__container">
        <div class="block">
            <div class="come-back-action">
                <a href="/AdminPlatform/Platform">НАЗАД</a>
            </div>
            <div class="name">
                Изменить заставку @Model.Block блока
            </div>
            <div class="form-field">
                <form method="post" enctype="multipart/form-data">
                    <div class="input">
                        @Html.TextBoxFor(x => x.Title, new {@class="input-field", placeholder="Загаловок"})
                    </div>
                    <div class="input">
                        @Html.TextBoxFor(x => x.Subtitle, new {@class="input-field", placeholder="Подзагаловок"})
                    </div>
                    <div class="input">
                        @Html.TextBoxFor(x => x.Block, new {@class="input-field", type="hidden", value=@Model.Block})
                    </div>
                    <div class="input">
                        @Html.TextBoxFor(x => x.UploadedFile, new {@class="input-field", type="file", placeholder="Картинка"})
                    </div>
                    <div class="button-submit">
                        <input type="submit" value="ДОБАВИТЬ" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>